.container {
    background: dodgerblue;
    border: 10px solid red;
    width: 700px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .cell {
    background: white;
    border: 1px solid maroon;
    width: 40px;
    height: 40px;
  }